/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	/* background: red; */
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Mobile First */

header {
	display: flex;
	flex-direction: column;
}
.nav-wrapper {
	display: flex;
	flex-direction: column;
}
.nav-wrapper .nav-logo {
	margin: 0 auto;
	text-align: center;
	padding: 2rem 3rem;
}

.nav-wrapper .main-nav {
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
}

.nav-wrapper .main-nav a {
	text-align: center;
	text-decoration: none;
	color: darkgrey;
	font-size: 1.5rem;
	padding: 1rem 0;
	border-top: 1px solid gray;
}

.nav-wrapper .main-nav a:last-child {
	border-bottom: 1px solid gray;
}

header .main-header {
	padding-top: 3rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 5rem;
}

header .main-header .slogan button {
	/* margin-top: 0; */
	padding: 0.75rem;
	width:40%;
	background: white;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
}

header .main-header .header-img {
	display: none;
}

main .top-content, main .bottom-content {
	display: flex;
	flex-direction: column;
	padding: 1rem 0.5rem;
}

main .top-content .box, .bottom-content .box {
	padding: 1rem;
}

main .top-content .box:first-child {
	padding-top: 2rem;
	border-top: 2px solid black;
}

main .middle-img {
	width: 90vw;
	margin: 0 auto;
}
main .middle-img img {
	width: 100%;
	height: 100%;
	
}
.bottom-content {
	display: flex;
	flex-direction: column;
}
.bottom-content .box:last-child {
	padding-bottom: 2rem;
	border-bottom: 2px solid black;
}

footer {
	padding: 2rem;
}

.legal p {
	padding: 2rem;
	margin: 0 auto;
	text-align: center;
}

/* Tablet Sizing */

@media(min-width: 760px) {
	header {
		display: flex;
		flex-direction: column;
	}
	header .nav-wrapper {
		flex-direction: column;
	}
	.nav-wrapper .main-nav {
		flex-direction: row;
		justify-content: space-between;
	}
	header .nav-wrapper .main-nav a {
		text-align: center;
		text-decoration: none;
		color: darkgrey;
		font-size: 1.5rem;
		padding: 2rem 1rem;
		border-top: none;
	}
	header .nav-wrapper .main-nav a:last-child {
		border-bottom: none;
	}
	header .main-header {
		min-width: 501px;
		padding-top: 3rem;
		padding-bottom: 3rem;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	header .main-header .slogan button {
		width: 20%;
	}
	main .top-content, main .bottom-content {
		flex-direction: row;
		padding: 1rem 0.5rem;
		margin: 0 1rem;
	}
	main .top-content .box:first-child {
		border-top: none;
	}
	main .top-content {
		border-top: 2px solid black;
	}
	main .bottom-content .box:last-child {
		border-bottom: none;
	}
	main .bottom-content {
		border-bottom: 2px solid black;
	}
}

/* Desktop sizing */

@media(min-width: 1024px) {
	/* body {
		min-width: 100vw;
	} */
	header .nav-wrapper {
		flex-direction: row;
		position: relative;
	}
	header .nav-wrapper .main-nav {
		padding-right: calc(200px + 6rem);
		align-items: center;
		justify-content: space-around;
	}
	header .nav-wrapper .main-nav a {
		padding: 2.75rem 3rem 0 3rem;
	}
	header .nav-wrapper .nav-logo {
		position: absolute;
		right: 0;
		margin: 0 auto;
		text-align: right;
		padding: 2rem 3rem;
	}
	header .main-header {
		min-width: 100vw;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	header .main-header .slogan button {
		width: 40%;
	}
	header .main-header .header-img {
		display: flow-root;
	}
	header .main-header .slogan, .main-header .header-img {
		width: 30%;
	}
	main .top-content, main .bottom-content {
		flex-direction: row;
		padding: 2rem;
		margin: 0 1rem;
	}
}
