/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	/* background: red; */
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Mobile First */

body {
	max-width: 500px;
	min-width: 90vw;
	margin: 0 auto;
}

header {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.nav-logo {
	margin: 0 auto;
	text-align: center;
	padding: 1rem;
}

.main-nav {
	display: flex;
	flex-direction: column;
}

.main-nav a {
	text-align: center;
	text-decoration: none;
	color: darkgrey;
	font-size: 1.5rem;
	padding: 1rem 0;
	border-top: 1px solid gray;
}

.main-nav a:last-child {
	border-bottom: 1px solid gray;
}

.main-header {
	padding-top: 3rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 5rem;
}

.main-header .slogan button {
	/* margin-top: 0; */
	padding: 0.75rem;
	width: 70%;
	background: white;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
}

.main-header .header-img {
	display: none;
}

.top-content, .bottom-content {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.top-content .box, .bottom-content .box {
	padding: 1rem;
}

.top-content .box:first-child {
	padding-top: 2rem;
	border-top: 2px solid black;
}

.middle-img img {
	max-width: 500px;
}

.bottom-content .box:last-child {
	padding-bottom: 2rem;
	border-bottom: 2px solid black;
}

footer {
	padding: 2rem;
}

.legal p {
	padding: 2rem;
	margin: 0 auto;
	text-align: center;
}

/* Tablet Sizing */

@media all and (min-width: 800px) {
	body {
		max-width: 100vw;
	}
	header {
		display: flex;
		flex-direction: column;
	}
	.main-nav {
		flex-direction: row;
		justify-content: space-between;
	}
	.main-nav a {
		text-align: center;
		text-decoration: none;
		color: darkgrey;
		font-size: 1.5rem;
		padding: 1rem;
		border-top: none;
	}
	.main-nav a:last-child {
		border-bottom: none;
	}
	.main-header {
		min-width: 501px;
		padding-top: 3rem;
		padding-bottom: 3rem;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.main-header .slogan button {
		width: 20%;
	}
	.top-content, .bottom-content {
		flex-direction: row;
		padding: 1rem;
		margin: 0 1rem;
	}
	.top-content .box:first-child {
		border-top: none;
	}
	.top-content {
		border-top: 2px solid black;
	}
	.middle-img {
		max-width: 800px;
		margin: 0 auto;
	}
	.middle-img img {
		max-width: 800px;
	}
	.bottom-content .box:last-child {
		border-bottom: none;
	}
	.bottom-content {
		border-bottom: 2px solid black;
	}
}
@media all and (min-width: 1024px) {
	header {
		flex-direction: row;
	}
	.nav-logo {
		margin: 0 auto;
		text-align: right;
		padding: 1rem;
	}
	.main-header .header-img {
		display: flow-root;
	}
}