/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	width: 900px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
@import url('https://fonts.googleapis.com/css?family=Righteous');

nav.main-nav {
	width: 100%;
  padding-top: 20px;
  text-align: center;
}

.main-nav a,
.nav-logo {
	display: inline-block;
}
.main-nav a {
  float: left;
	text-decoration: none;
	color: gray;
	padding: 10px 12px;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom .5s ease-in-out;
}
.main-nav a:first-child {
  margin-left: 0;
} 
.main-nav a:hover {
  border-bottom: 2px solid gray;
}
.nav-logo {
	float: right;
}


header {
	margin-top: 60px;
	margin-bottom: 100px;

}
header .main-header,
header img {
	display: inline-block;
}

.main-header {
	padding-top: 70px;
	font-size: 5rem;
	text-align: center;
	width: 49.9%;
}

.main-header .slogan {
	padding: 0 30px;
  font-family: 'Righteous', cursive;
}

.main-header button {
	vertical-align: top;
	padding: 5px 30px;
	color: black;
	background: white;
	border: 1px solid black;
}
header img {
	float: right;
	width: 50;
  border-radius: 190px;
  box-shadow: 0 20px 30px gray;
}
.top-content {
	border-top: 1px solid black;
	padding: 50px 0;
}
.top-content .box {
	display: inline-block;
	width: 49%;
}
.middle-img {
  box-shadow: 0 8px 12px gray;
}
.bottom-content {
	border-bottom: 1px solid black;
	padding: 40px 0;
}
.bottom-content .box {
	display: inline-block;
	width: 32.9%;
	padding: 0 10px;
}
footer {
	padding-top: 40px;
}
footer address p {
	padding: 5px 0;
}
.legal p {
	margin: 60px 0;
	text-align: center;
}